/*css for checkBoxes*/
ul {
list-style: none;
}
ul li {
    padding: 0.2em
}

label.styled {
    background-color: #4c62ff;
    display: block;
    width: 300px;
    text-align: center;
    padding: 0.6em 2em;
    color: #fff;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
label.styled:before {
    content: '✓';
    line-height: 40px;
    font-size: 25px;
    color: #fff;
    width:40px;
    height:100%;
    background-color: #181c9a;
    position: absolute;
    top:0;
    left:100%;
    transition: all 0.4s ease;
    opacity: 0;
    border-right: 2px solid #fff;
}
label.styled:hover:before {
    left: 98%;
    opacity: .3;
}
input.styled {
    display: none;
}

/* :: CHECKED :: */
input.styled:checked ~ label.styled {
    background-color: #3550aa;
    animation: throw 0.5s linear;
}
input.styled:checked ~ label.styled:before {
    left:0px;
    opacity: 1;
}
@keyframes throw {
    0%,63% {margin-left: 0;}
    64% {margin-left: -5px;}
    100% {margin-left: 0;}
}
/*css for checkBoxes -------- end*/
/*css for Title*/
.knockout {
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 100px;
    font-family: arial, helvetica;
    width: 600px;
    margin: 1px auto;
    text-align: center;
}
/*css for title -----------end*/

body{
    /*background: #040025;*/
}

#powered {
    color: dimgray;
    font-size: x-small;
    alignment: right;
}
/* code for imput*/
body {
    background-color: #ffffff;

    font-family: 'helvetica', 'verdana', sans-serif;
    font-size: 16px;
    padding-top: 40px;
}
h1, p {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 700px;
}

/* ----------- Relevant Code Below ----- */

div#container {
    display: table;

    /* I want the whole search box
       to be exactly this wide. */
    width: 400px;

    margin: 50px auto 0;
}
div#container div.cell {
    display: table-cell;
}
div#container div.cell:last-child {
    /* Makes sure this cell is only wide enough
       for the button label. */
    width: 1px;
}

input[type=search], div.button {
    width: 100%;
    height: 35px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: inherit;
    font-size: inherit;
}

input[type=search] {
    margin: 0;
    padding: 0 10px;

    background-color: #f8f8f8;

    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.button {
    line-height: 35px;

    margin: 0;
    padding: 0 20px;

    color: #fff;
    background-color: #04006a;
    font-weight: bold;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    white-space: nowrap;
}
/*conde for imput --------end*/

/*code for button delete*/
.myButton {
    -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
    -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #969287), color-stop(1, #ffeded));
    background:-moz-linear-gradient(top, #969287 5%, #ffeded 100%);
    background:-webkit-linear-gradient(top, #969287 5%, #ffeded 100%);
    background:-o-linear-gradient(top, #969287 5%, #ffeded 100%);
    background:-ms-linear-gradient(top, #969287 5%, #ffeded 100%);
    background:linear-gradient(to bottom, #969287 5%, #ffeded 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#969287', endColorstr='#ffeded',GradientType=0);
    background-color:#969287;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color:#0a0a0a;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:12px 60px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffeded), color-stop(1, #969287));
    background:-moz-linear-gradient(top, #ffeded 5%, #969287 100%);
    background:-webkit-linear-gradient(top, #ffeded 5%, #969287 100%);
    background:-o-linear-gradient(top, #ffeded 5%, #969287 100%);
    background:-ms-linear-gradient(top, #ffeded 5%, #969287 100%);
    background:linear-gradient(to bottom, #ffeded 5%, #969287 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeded', endColorstr='#969287',GradientType=0);
    background-color:#ffeded;
}
.myButton:active {
    position:relative;
    top:1px;
}
/*code for button delete -------end*/

table{
    background: #ffffff;
}

/*código para filtros ---------- */
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}