<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="tema.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="controle.js"></script>
    <meta charset="UTF-8">
    <title>TO-DOAPP</title>
</head>
<body>

<div ng-app="TodoManager" ng-controller="TodoController">
    <table  width="600" align="center">
        <tr >
            <td >
                <div align="center" class="container">
                    <div class="content">
                        <div class="knockout">TO-DOAPP</div>
                        <label  id="powered">Powered by LuísApp</label>
                        <form>
                            <div class="inputContainer">
                                <div id='container'>
                                    <div class='cell'><input id="text" type='search' ng-model="newTodo" ng-keydown="$event.keyCode === 13 && addTodo()"  placeholder='O que eu preciso fazer?'></div><br><br>
                                    <div class='cell' ><div class='button' ng-click="addTodo()" >Adicionar Tarefa</div></div>
                                </div>
                                <button class="myButton"  ng-mouseup="deleteSelected()"> Deletar Tarefas Selecionadas</button><br><br>
                            </div>
                        </form>
                        <button class="button-large pure-button" id="filtroTodas" ng-class="{'button-large':selectedTab === 'todas'}"  ng-mouseup="getTodas(); selectedTab = 'todas'"> Todas</button>
                        <button class="button-small pure-button" id="filtroCompletas" ng-class="{'button-large':selectedTab === 'completas'}" ng-mouseup="getCompletas(); selectedTab = 'completas'"> Completas</button>
                        <button class="button-small pure-button" id="filtroIncompletas" ng-class="{'button-large':selectedTab === 'incompletas'}" ng-mouseup="getIncompletas(); selectedTab = 'incompletas'"> Incompletas</button>
                        <ul  class="todoList">
                            <li class="todoItem" ng-repeat="todoItem in todoItems track by $index" ng-model="todoItem">
                                <input type="checkbox" class="todoCheckbox styled" ng-model="todoItem.completa" ng-change="save();remaining()" id="b_{{todoItem.tarefa}}">
                                <label class="done-{{todoItem.completa==true}} styled" for="b_{{todoItem.tarefa}}">{{todoItem.tarefa}}</label>
                            </li>
                        </ul>
                        <span>Completadas: {{ remaining() }} de {{ todoItems.length }}</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>

